body {
    overflow-x: hidden;
    max-width: 1600px;
    min-width: 960px;
}

* {
    background-color: #fcd59a;
    font-family: 'Zen Antique Soft';
}

h1 {
    font-size: 24px;
    margin-left: 0px;
    padding-left: 100px;
}

header {
    display: grid;
    grid-template-columns: 550px auto;
    align-items: center;
}

.nav {
    width: auto;
    margin-left: 80px;
    color: #818181;
    font-size: 18px;
    font-weight: 800px;
    text-decoration: none;
}

img {
    height: 400px;
    width: 600px;
    border-radius: 10%;
}

h2 {
    position: relative;
    left: 20%;
}

.data {
    position: relative;
    left: 50%;
}

section {
    margin-top: 60px;
}

footer .connect {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}

.link {
    text-decoration: none;
    color: #818181;
}

footer p {
    width: 400px;
}

.logo {
    height: 50px;
    width: 50px;
}

.imglogo {
    display: grid;
    grid-template-columns: 60px auto;
    align-items: center;
}

.FB {
    height: 40px;
    width: 60px
}

footer h4 {
    font-size: 24px;
}

footer {}

#tel {
    text-decoration: none;
    color: #818181;
}