* {
    font-family: 'Zen Antique Soft';
    margin: 0px;
    background-color: black;
}

body {
    display: grid;
    grid-template-columns: 100px repeat(6, 236px);
    grid-template-rows: 70px repeat(16, 187px);
    align-items: center;
}

body div {
    border: 1px solid darkred;
    align-items: center;
    text-align: center;
    padding-left: 0px;
    margin-left: 0px;
}

ol {
    padding-inline-start: 0px;
}

.leftandup {
    height: 185.6px;
    align-items: center;
    text-align: center;
    background: darkgreen;
    color: whitesmoke;
}

.up {
    height: 70px;
    align-items: center;
    background: darkgreen;
    color: whitesmoke;
}

.schedule {
    background: black;
    color: whitesmoke;
}

.up p {
    padding-top: 15px;
    align-items: center;
    background: darkgreen;
    color: whitesmoke;
}

.leftandup p {
    padding-top: 70px;
    align-items: center;
    background: darkgreen;
    color: whitesmoke;
}