body {
    border: 1px solid red;
    background-color: lightgrey;
    display: grid;
    grid-template-areas: "header header header header header" "menu menu menu menu menu" "events events events events events" "footer footer footer footer footer";
}

.header {
    background-image: url(school.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid yellow;
    text-align: center;
    height: 200px;
    grid-area: header;
}

.container {
    color: yellow;
    font-family: 'Courier New';
}

.menu {
    background-color: whitesmoke;
    border: 1px solid black;
    color: red;
    height: auto;
    grid-area: menu;
}

.events {
    background-color: whitesmoke;
    border: 1px solid black;
    color: red;
    height: 400px;
    grid-area: events;
}

#event {
    width: 100px;
    margin: auto;
}

footer {
    width: 100%;
    background-color: whitesmoke;
    color: black;
    height: 200px;
    grid-area: footer;
}

li {
    color: greenyellow;
    text-decoration: tomato;
    border: 1px black;
}

h {
    color: red;
}

#logoF {
    background: url(Facebook-logo.png) no-repeat 100% 5px;
    padding-right: 13px;
}

#logoG {
    background: url(Gmail-Logo.jpg) no-repeat 100% 5px;
    padding-right: 13px;
}

#logoP {
    background: url(Viber-logo.png) no-repeat 100% 5px;
    padding-right: 13px;
}